#root {
    background-color: var(--swatch-primary);
    position: absolute;
    width: 100%;
    height: 100%;
}

#title {
    background: url('../public/res/tiletown.png') center center; 
    background-size: contain;
    background-repeat: no-repeat;
    height: 12%;
}

#splash-screen {
    background: url('../public/res/bg.jpg') no-repeat; 
    background-size: cover;
    background-position: center center;
    height: 91.85%;
    width: auto;
}